<%= form_for(@utility_tip) do |f| %>
  <% if @utility_tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utility_tip.errors.count, "error") %> prohibited this utility_tip from being saved:</h2>

      <ul>
      <% @utility_tip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order %><br>
    <%= f.text_field :order %>
  </div>
  <div class="field">
    <%= f.label :utility_id %><br>
    <%= f.select :utility_id, [["Electricity",0],["Water",1],["Natural Gas",2]] %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit "Create Utility Tip", class: "button" %>
  </div>
<% end %>
