<h1>Listing Utility Tips</h1>
<h3>Electricity</h3>
<table width=100%>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utility_tips.where(utility_id: 0).order(:order).each do |utility_tip| %>
      <tr>
        <td><%= utility_tip.text %></td>
        <td><%= link_to 'Edit', edit_utility_tip_path(utility_tip) %></td>
        <td><%= link_to 'Destroy', utility_tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Water</h3>
<table width=100%>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utility_tips.where(utility_id: 1).order(:order).each do |utility_tip| %>
      <tr>
        <td><%= utility_tip.text %></td>
        <td><%= link_to 'Edit', edit_utility_tip_path(utility_tip) %></td>
        <td><%= link_to 'Destroy', utility_tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Natural Gas</h3>
<table width=100%>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utility_tips.where(utility_id: 2).order(:order).each do |utility_tip| %>
      <tr>
        <td><%= utility_tip.text %></td>
        <td><%= link_to 'Edit', edit_utility_tip_path(utility_tip) %></td>
        <td><%= link_to 'Destroy', utility_tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Utility tip', new_utility_tip_path, class: "button" %>

</center>
